/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*css reset ends*/

*, *:before, *:after{
	box-sizing: border-box;
}

img{
	max-width: 100%;
	height: auto;
}

body{
	font-family: 微軟正黑體;
}
.clearfix:after{
	content: '';
	display: table;
	clear: both;
}
.wrap{
	width: 100%;
}
.container{
	max-width: 1000px;
	margin: 0 auto;
}

/*.header_top*/
.header_top{
	height: 28px;
	background-color: #f6f6f6;
}
.socialMedia{
	float: right;
}
.socialMedia li{
	float: left;
}
.socialMedia li img{
	float: left;
	margin-right: 3px;
}
.socialMedia a{
	display: block;
	text-decoration: none;
	font-size: 15px;
	padding: 0px 6px;
	margin: 8px 2px;
}
.fb a{
	color: #4460a0;
	border-right: 2px solid #cccccc;
}
.twitter a{
	color: #00aaec;
}

/*.header*/
.header{
	height: 50px;
}
.header_content{
	height: 50px;
	position: relative;
}
.header_logo{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.header_logo a{
	background-image: url(../images/cloud-logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
	width: 80px;
	height: 40px;
	text-indent: 101%;
	white-space: nowrap;
	overflow: hidden;
}

.header_menu{
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	z-index: 100;
	/*z-index要寫在這裡！！！*/
}
.header_menu>li{
	float: left;
}
.header_menu>li>a{
	text-decoration: none;
	display: block;
	padding: 16px 15px;
	margin-left: 15px;
	font-size: 15px;
	color: #28a8f4;
	border-bottom: 4px solid transparent;
}
.header_menu>li>a:hover, .header_menu>li>a.active{
	color: orange;
	border-bottom: 4px solid orange;
}

/*.jq_submenu*/
/*.header_menu>li{
	position: relative;
}*/
.dropdown{
	position: absolute;
	top: 100%;
	/*left: 50%;
	transform: translateX(-50%);*/
	background-color: #fff;
	border-radius: 5px;
}
.dropdown li a{
	text-decoration: none;
	display: block;
	padding: 10px;
	margin: 10px 0px;
	color: #309286;
}
.dropdown li a:hover{
	cursor: pointer;
	background-color: #f77754;
	color: #fff;
}
.jq_submenu{
	display: none;
}


/*.header_banner*/
.header_banner{
	background-color: #1d1d1d;
	height: 346px;
}
.banner{
	position: relative;
}
.banner_rect{
	background-color: rgba(2, 2, 2, 0.3);
	width: 1000px;
	height: 160px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.banner p{
	color: #fff;
	font-size: 36px;
	position: absolute;
	top: 50%;
	left: 55px;
	transform: translateY(-50%);
	line-height: 1.5;
}

/*swiper banner*/
.swiper-container {
    width: 1000px;
    height: 346px;
}


/*.content*/
.content{
	margin-bottom: 63px;
}
.product_content li{
	float: left;
	width: 29.33333%;
	margin: 2%;
	padding: 10px;
	box-shadow: 0 3px 2px #d9d9d9;
}
.product_content li a{
	text-decoration: none;
	display: block;
	color: #000;
}
.frame{
	height: 173px;
	position: relative;
}
.frame img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.product_content h2{
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 7px 0px;
}
.product_content p{
	font-size: 15px;
	line-height: 2;
}

/*.compare*/
.compare_content h2{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 30px;
}
.compare_content table{
	margin: 0 auto;
	width: 840px;
	margin-bottom: 62px;
}
.compare_content th{
	font-weight: bold;
	text-align: left;
}
.compare_content th{
	background-color: #f7f7f7;
}
.compare_content th, .compare_content td{
	padding: 14px;
	border-top: 2px solid #dddddd;
	border-bottom: 2px solid #dddddd;
}
.compare_content .green{
	color: #28a8f4;
}

/*.info*/
.info{
	background-image: linear-gradient(to bottom, #00654b, #009772);
}
.info_content h2{
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	padding: 40px 0 32px 0;
	line-height: 2;
}
.text textarea{
	width: 460px;
	height: 245px;
	border-radius: 5px;
	resize: none;
	border: none;
	font-size: 15px;
	padding: 7px;
}
.text .information{
	float: right;
}
.information label{
	color: #fff;
}
.information input{
	width: 460px;
	height: 35px;
	margin: 5px 0 18px 0;
	padding: 7px;
	font-size: 15px;
	border-radius: 5px;
	border: none;
}
.information .submit{
	border-radius: 5px;
	background-color: #28a8f4;
	color: #fff;
	padding: 5px 15px;
	width: 70px;
	height: 32px;
	float: right;
}
.information .submit:hover{
	background-color: orange;
}

/*.footer*/
.footer_content{
	height: 98px;
	position: relative;
}
.logo_footer{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.footer_info{
	position: absolute;
	top: 50%;
	right: 35px;
	transform: translateY(-50%);
}
.footer_info p{
	color: #333333;
}
.footer_info span{
	color: #e12d80;
}

/*.gototop*/
.gototop{
	position: fixed;
	right: 0;
	bottom: 50px;
}







